@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');


// Generic
$dark-color: #101010;
$light-color: #fff;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-color: #545454;

// Title
$logo-font: 'Dancing Script', cursive;
$title-font-weight: 500;
$title-color: #000;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;
