@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');


// Generic
$dark-color: #101010;
$dark-color-transparent: rgba(16, 16, 16,0.9);
$light-color: #fff;
$light-beige:rgba(252,249,245,0.9);
$pewter-blue:#709CA7;
$pewter-blue-light: rgba(112, 156, 167, 0.2);
$dim-gray: #686868;
$light-grey: #E8E4DE;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-color: #545454;

// Title
$logo-font: 'Dancing Script', cursive;
$title-font-weight: 500;
$title-color: #000;
