@import 'src/styles/vars';

.nav_footer{
  display:flex;
  justify-content: space-around;
  padding-top: 1rem;
  align-items: baseline;
  font-weight: 100;

  & .icone-insta{
    display:inline-block;
    padding:0.6rem;
    border-radius: 50px;
    cursor:pointer;
    transition: all .4s;

      &:hover{
        font-weight:700;
        box-shadow: 0px 0px 0px 2px $dim-gray;
      }
  }
   
}
